@model aaasrv.ViewModel.Register.RegisterModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>邀请人：</label>
        @Html.TextBoxFor(m => m.Invited)
        @Html.ValidationMessageFor(m => m.Invited)
    </div>
    <div>
        <label>用户名：</label>
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        <label>密码：</label>
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        <label>验证码：</label>
        @Html.PasswordFor(m => m.Captcha)
        @Html.ValidationMessageFor(m => m.Captcha)
        <img src="/Shared/_GetCaptcha" />
    </div>
    
    <a href="/Shared/_GetCaptcha" download="cap">captcha</a>

    <input type="file" name="icon" accept="image/*" />

    <button type="submit">提交</button>
}